@inherits ViewPage
@{Layout = "_Master";}
<script type="text/javascript" src="Scripts/Default.js"></script>

<div class="h1"><p>Hungry Lousy Jack</p></div>
<table width="800" align="center" border="1"> 
    <tr>
        <td><button class="btn-gundam">Gundam</button></td>
        <td><button class="btn-anime-figures">Anime Figures</button></td>
        <td><button class="btn-action-figures">Action Figures</button></td>
    </tr>
    <tr>
        <td><button class="btn-aircraft">Aircraft</button></td>
        <td><button class="btn-dolls">Dolls</button></td>
        <td><button class="btn-military">Military</button></td>
    </tr>
    <tr>
        <td><button class="btn-scifi">Sci-Fi</button></td>
        <td><button class="btn-nav">Ships</button></td>
        <td><button class="btn-supplies">Supplies</button></td>
    </tr>
</table>
<br/>
<br/>
<div class="product-list-sum"></div>
<button class="btn-reset-list">Reset List</button> 
<button class="btn-load-details">Load Details (will take long)</button> 
<div class="product-details-sum"></div>
<br/>
<div class="product-list"></div>