<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="dblog" xsi:type="Database" dbProvider="System.Data.SqlClient" dbHost="IT30" dbDatabase="DERMA15A" dbUsername="sa" dbPassword="a">
      <!-- SQL command to be executed for each entry -->
      <commandText>INSERT INTO NLog(EventDateTime, EventLevel, Username, MachineName, EventMessage, ErrorSource, ErrorClass, ErrorMethod, ErrorMessage, InnerErrorMessage) 
      VALUES(@EventDateTime, @EventLevel, @Username, @MachineName, @EventMessage, @ErrorSource, @ErrorClass, @ErrorMethod, @ErrorMessage, @InnerErrorMessage)</commandText>

      <!-- parameters for the command -->
      <parameter name="@EventDateTime" layout="${date:s}" />
      <parameter name="@EventLevel" layout="${level}" />
      <parameter name="@Username" layout="${identity}" />
      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@EventMessage" layout="${message}" />
      <parameter name="@ErrorSource" layout="${logger}" />
      <parameter name="@ErrorClass" layout="${callsite:className=true:fileName=false:includeSourcePath=false:methodName=false}" />
      <parameter name="@ErrorMethod" layout="${callsite:className=false:fileName=false:includeSourcePath=false:methodName=true}" />
      <parameter name="@ErrorMessage" layout="${message}" />
      <parameter name="@InnerErrorMessage" layout="${exception}" />

    </target>
  </targets>
  <rules>
    <logger name="*" minlevel ="Info" writeTo="dblog"/>
  </rules>
</nlog>